body {
	margin: 0;
}

h1 {
	text-align: center;
}

.box {
	width: 500px;
	height: 500px;
	margin: 50px auto;
	border-radius: 10px;
	background: tomato;
}

@media screen and (max-width: 1024px) {
	.box {
		background: purple;
		width: 100%;
	}
	.box:before {
		content: 'mobile';
		font-size: 40px;
		color: yellow;
	}

}

@media screen and (max-width: 768px) {
	.box {
		background: olive;
	}
}